<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Skincare Product Filter Site</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Welcome</h1>
    </header>

    <main>
    <p>Check out the <a href="{% url 'user' %}">User Allergy Input</a> to input user allergy info</p>
    <p> Check out the <a href="{% url 'product' %}">Product Ingredient Input</a> to input product ingredients</p>
    </main>

    <footer>
        <p>&copy; 2023 My Django Site</p>
    </footer>
</body>
</html>
