<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Allergies Filter App
        {% endblock %}
    </title>
    <link rel="icon" href="{% static 'favicon.svg' %}" type="image/svg+xml">
    <script src="{% static 'js/main.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="container">
                <span class="brand"><a href="/">Allergies Filter App</a></span>
                <ul class="nav-links">
                    <li><a href="/">Home 🏡</a></li>
                    <li><a href="/product">Product Input 📚</a></li>
                    <li><a href="/allergies/">Allergies List 🚨</a></li>
                </ul>
        </div>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>