{% extends 'layout.html'%}

{% block title %}
Home - Allergies Filter App
{% endblock %}

{% block content %}
    <main>
        <h2>Product Ingredient Input</h2>
        <form method="post">
            <label for="ingredients">Enter product ingredients:</label>
            <textarea id="ingredients" name="ingredients" rows="4" cols="50"></textarea>
            <button type="submit">Filter Products</button>
        </form>
         <p> Go back to <a href= "/">Home Page</a></p>
    </main>

    <footer>
        <p>&copy; 2025 My Django Site</p>
    </footer>
{% endblock %}
