<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Product Ingredient Input</title>
    <script src="{% static 'js/main.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Welcome</h1>
    </header>

    <main>
        <h2>Product Ingredient Input</h2>
        <form method="post">
            <label for="ingredients">Enter product ingredients:</label>
            <textarea id="ingredients" name="ingredients" rows="4" cols="50"></textarea>
            <button type="submit">Filter Products</button>
        </form>
    <!-- Future feature: Add a menu  button instead of clicking on each page per link -->
    <p>Check out the <a href="{% url 'user' %}">User Allergy Input</a> to input user allergy info</p>
    </main>

    <footer>
        <p>&copy; 2023 My Django Site</p>
    </footer>
</body>
</html>