<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Allergy Input</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <h1>Welcome User Allergy Input</h1>
    </header>

    <main>
    <p>Check out the <a href="{% url 'home' %}">Homepage</a></p>
    </main>

    <footer>
        <p>&copy; 2023 My Django Site</p>
    </footer>
</body>
</html>